<%- include('../../partials/header.ejs'); -%>

<section>
    <div>
        <h1>404 Not Found</h1>
        <a href="/" class="btn btn-primary">Go To Home</a>
    </div>
</section>


<%- include('../../partials/footer.ejs'); -%>