<%- include('../../partials/header.ejs'); -%>


<section>

    <link rel="stylesheet" href="/styles/404.css">

    <div class="notfound">
        <h1>404 Not Found</h1>
        <a id="gohome" href="/" class="btn btn-primary">Go To Home</a>
    </div>
</section>


<%- include('../../partials/footer.ejs'); -%>