<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/bootstrap.css" />
  
    <link rel="stylesheet" href="/fa icons/all.min.css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />




  </head>

  <body>
    <nav class="nav-container">
      <div class="container-fluid">
        <div class="nav-container">
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li class=""><a href="#">About</a></li>
            <li class=""><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <script src="/jquery.js"></script>
    <script src="/bootstrap.bundle.js"></script>

    
  </body>
</html>
