<%- include('../partials/header.ejs'); -%>
  <div class="container">
    <section>
      <div class="icon">
        <div class="pill"></div>
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span class="h3">Notes App</span>
    </section>
    <section>
      <main>
        <div class="row">
          <div class="d-flex">
            <div class="">
              <input class="field" type="text" placeholder="enter the text here">
            </div>
            <div class="">
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  choose one
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">none</a>
                  <a class="dropdown-item" href="/add">Add</a>
                  <a class="dropdown-item" href="/showall">Show All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container notes-main ">
          <hr>
         <% notes.forEach(note => { %>
          <div class="row">
            <div class=" card ">
              <div class="card-header ">
                <%= note.title %> 
              </div>
              <div class="card-body ">
                <h5 class="card-title ">Description:</h5>
                <p class="card-text ">
                  <%= note.description %> 
                </p>
                <a href="# " class="btn btn-primary ">More info</a>
              </div>
            </div>
          </div>
         <% }) %> 
          
          
          <hr>
          <div class="row">
            <div class="card ">
              <div class="card-header ">
                Title goes here
              </div>
              <div class="card-body ">
                <h5 class="card-title ">Description:</h5>
                <p class="card-text ">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias itaque voluptatem eius?
                </p>
                <a href="# " class="btn btn-primary ">More info</a>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </main>
    </section>
  </div>

  <%- include('../partials/footer.ejs'); -%>